table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  mat-header-cell{
    background: #DD2F6E;
    color: white;
  }

  .modspinner{
text-align: center;

width: 20px;

  }

  mat-spinner{
    width: 20px;
    text-align: center;
    color: #DD2F6E;
  
  }



/* From cssbuttons.io by @adamgiebl */
/* button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 10px 10px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #DD2F6E;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #DD2F6E;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #DD2F6E;
 
 } */
 
 /* button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #DD2F6E;
 }
 
 button:active {
  transform: scale(0.9);
 } */


 .spin{
   padding-left: 200px;
  
 }