


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

 <div class="mt-5">
   <mat-table [dataSource]="dataSource" class="mat-elevation-z8"  >
       <!-- Position Column -->
   
     
       <!-- Name Column -->
       <ng-container matColumnDef="descripcion">
         <mat-header-cell *matHeaderCellDef> descripcion </mat-header-cell>
         <mat-cell *matCellDef="let ArrayAdd">{{ArrayAdd.descripcion}} </mat-cell>
       </ng-container>
     
       <!-- Weight Column -->
       <ng-container matColumnDef="codigo">
         <mat-header-cell *matHeaderCellDef> codigo </mat-header-cell>
         <mat-cell *matCellDef="let ArrayAdd"> {{ArrayAdd.codigo}} </mat-cell>
       </ng-container>
     
       <!-- Symbol Column -->
       <ng-container matColumnDef="cantidad">
         <mat-header-cell *matHeaderCellDef> cantidad </mat-header-cell>
         <mat-cell *matCellDef="let ArrayAdd">{{ArrayAdd.cantidad}} </mat-cell>
       </ng-container>
   
       <ng-container matColumnDef="precio">
           <mat-header-cell *matHeaderCellDef> precio </mat-header-cell>
           <mat-cell *matCellDef="let ArrayAdd">{{ArrayAdd.precio}} </mat-cell>
         </ng-container>
   

         <ng-container matColumnDef="iva">
            <mat-header-cell *matHeaderCellDef> Iva </mat-header-cell>
            <mat-cell *matCellDef="let ArrayAdd">{{(ArrayAdd.precio * ArrayAdd.cantidad)*ArrayAdd.iva}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total </mat-header-cell>
            <mat-cell *matCellDef="let ArrayAdd">{{(ArrayAdd.precio * ArrayAdd.cantidad)*ArrayAdd.iva + (ArrayAdd.precio * ArrayAdd.cantidad)}} </mat-cell>
          </ng-container>
    

       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
     </mat-table>
   
    </div>




    <mat-card class="example-card ">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px"  >
        <mat-toolbar >
        <span class="subtitulo" style="color: white;">FACTURA</span>
        <mat-icon style="color: white;">star</mat-icon>
      </mat-toolbar>
       <div>
         <span>Cliente: {{vendedor.usuario}} </span>
       </div>
    <br>
    <br>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" 
        fxFlex fxFlex.lt-md="0" *ngIf="ArrayAdd.length!==0"  >
          <!-- Columna # 1 -->
          <div fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 calc(33% - 20px)"  >
    
        
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span>Sub total:${{ subtotalsinIva}}</span>
              <span></span>
            </div>
    
            <mat-divider class="divider-horizontal"></mat-divider>
    
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span>Iva:${{totalidadesIva}}</span>
              <span></span>
            
            </div>
    
            <mat-divider class="divider-horizontal"></mat-divider>
    
        
    
        
    
            <mat-divider class="divider-horizontal"></mat-divider>
    
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <span>Total:${{totalidades}}</span>
              <span></span>
            </div>
          </div>
          <!-- Columna # 2 -->
          <div  fxLayout="column" fxLayoutGap="5px" fxFlex="1 1 calc(33% - 20px)">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                  <span>Cuota Inicial:</span>
             
              </div>
              <mat-divider class="divider-horizontal"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span>Descuento:</span>
               
              </div>
    
              <mat-divider class="divider-horizontal"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span> Saldo a financiar:</span>
            
              </div>
              <mat-divider class="divider-horizontal"></mat-divider>
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <span> Interés:</span>
             
              </div>
          
          </div>
          <!-- Columna # 3 -->

          <div>
            <button (click)="openDialog()"> Finalizar Compra
            </button>
          </div>
    
        </div>
    
    
      </div>

    
    
    </mat-card>


 









</body>
</html>

