<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    <div class="card-body mt-3">
    

        <h2 >Busqueda de cliente por CI </h2>
    
        <form  >
        <div class="search-wrapper">
          
      <input (keyup.enter)="MostrarVendedores()"   type="search" placeholder="Ingrese CI"/><mat-icon>search</mat-icon>

            
    
        </div>
    </form>
        
    </div>
         
    
</body>
</html>